*.pdf filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
agent_of_college_physics/*.sh text eol=lf
agent_of_college_physics/**/*.service text eol=lf
agent_of_college_physics/**/*.conf text eol=lf
agent_of_college_physics/*.example text eol=lf
agent_of_college_physics/*.in text eol=lf
agent_of_college_physics/*.lock text eol=lf
